{% load staticfiles %}
<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <title>网址导航</title>
    <!--<link rel="stylesheet" type="text/css" href="link.css">-->
    <link href="{% static 'css/link.css' %}" rel="stylesheet">
    <meta charset="utf-8">
    <!--<script type="text/javascript">
        var a;
        function send()
        {
            a="a";
            var b="个人收藏链接";
            alert(a+b);
        }
        send();
    </script>-->
</head>
<body>
    <div id="head">
        <nav id="topnav" class="f_r">
        <ul>
        <a href="/">home</a>
        <a href="/blog/" target="_blank">blog</a>
        <a href="#officaial">official doc</a>
        <a href="#chinese_doc">chinese doc</a>
        <a href="#life">life</a>
        </ul>
        </nav>
    </div>
    <div id="official">
        <table>
            <caption>以下为官方链接</caption>
            <tr>
                <th>类型</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
    		<tr>
    			<td>日志处理</td>
    			<td><a href="https://www.elastic.co" target="_blank">ELK</a></td>
                        <td><a href="http://www.fluentd.org/" target="_blank">fluentd</a></td>
                        <td><a href="http://grafana.org/" target="_blank">grafana</a></td>
    		</tr>
    		<tr>
    			<td>容器</td>
    			<td><a href="http://www.docker.com/" target="_blank">docker</a></td>
			<td><a href="https://kubernetes.io/" target="_blank">kubernetes</a></td>
			<td><a href="http://rancher.com/" target="_blank">rancher</a></td>
    		</tr>
    		<tr>
    			<td>镜像</td>
    			<td><a href="http://mirrors.sohu.com/" target="_blank">搜狐</a></td>
    			<td><a href="http://mirrors.163.com/" target="_blank">163</a></td>
    		</tr>
    		<tr>
    			<td>数据库</td>
    			<td><a href="http://www.mysql.com/" target="_blank">MySQL</a></td>
    			<td><a href="http://redis.io/" target="_blank">redis</a></td>
    			<td><a href="https://www.mongodb.com/" target="_blank">MongoDB</a></td>
    		</tr>
    		<tr>
    			<td>监控</td>
    			<td><a href="https://www.zabbix.com" target="_blank">zabbix</a></td>
                        <td><a href="https://www.influxdata.com/" target="_blank">influxdata</a></td>
    		</tr>
                <tr>
                        <td>cloud</td>
                        <td><a href="http://www.linux-kvm.org" target="_blank">KVM</a></td>
			<td><a href="http://docs.openstack.org/" target="_blank">openstack</a></td>
                </tr>
                <tr>
                        <td>自动化</td>
                        <td><a href="http://docs.ansible.com/" target="_blank">ansible</a></td>
                </tr>
    		<tr>
    			<td></td>
    			<td></td>
    		</tr>
    	</table>
	</div>

	<div id="chinese_doc">
		<table>
			<caption>以下为中文链接</caption>
    		<tr>
    			<th>类型</th>
    			<th></th>
    			<th></th>
    			<th></th>
    			<th></th>
    		</tr>
    		<tr>
    			<td>日志</td>
    			<td><a href="http://kibana.logstash.es/" target="_blank">kibana</a></td>
                        <td><a href="http://kibana.logstash.es/content/" target="_blank">kibana</a></td>
    		</tr>
    		<tr>
    			<td>数据库</td>
    			<td><a href="http://www.mongoing.com/" target="_blank">MongoDB</a></td>
    		</tr>
                <tr>
                        <td>容器</td>
                        <td><a href="http://docker-doc.readthedocs.io/zh_CN/latest/" target="_blank">docker</a></td>
                </tr>
    		<tr>
    			<td></td>
    			<td></td>
    		</tr>
                <tr>
                        <td>python</td>
                        <td><a href="http://python.usyiyi.cn/" target="_blank">python中文</td>
                        <td><a href="http://python3-cookbook.readthedocs.io/" target="_blank">COOKBOOK</td>
                </tr>
    		
		</table>
	</div>

	<div id="life">
		<table>
			<caption>生活常用的链接</caption>
    		<tr>
    			<th>类型</th>
    			<th></th>
    			<th></th>
    			<th></th>
    			<th></th>
    		</tr>
    		<tr>
    			<td>搜索</td>
    			<td><a href="https://www.baidu.com" target="_blank">百度</a></td>
    		</tr>
    		<tr>
    			<td>邮箱</td>
    			<td><a href="http://exmail.qq.com/login" target="_blank">腾讯企业邮箱</a></td>
    		</tr>
    		<tr>
    			<td>网盘</td>
    			<td><a href="http://pan.baidu.com/" target="_blank">百度网盘</a></td>
    		</tr>
                <tr>
                       <td>翻译</td>
                       <td><a href="http://fy.iciba.com/" target="_blank">金山翻译</td>
                       <td><a href="http://fanyi.youdao.com/" target="_blank">有道翻译</td>
	       </tr>
               <tr>
                      <td>学习</td>
                      <td><a href="http://i.apelearn.com/" target="_blank">猿课</a></td>
               </tr>
	</div>
		<div id="life">
		<p></p>
		
		</div>
                <div id="life">
                <p></p>

                </div>
</body>
</html>
